:root {
  --light: #fff;
  --medium: #6b6e88;
  --dark: #424455;
  --red: #cb5252;
  --blue: #4675cc;
  --golden: #d4b506;

  --banner-height: 6rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scrollbar-color: var(--blue) var(--light);
  scrollbar-width: thin;
  -webkit-scrollbar-color: blue;
  -webkit-scrollbar-width: thin;
}

body {
  min-height: 100vh;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  background: linear-gradient(var(--medium), var(--dark));
  color: white;
}

a {
  text-decoration: none;
}

.banner {
  height: var(--banner-height);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--dark);
  font-family: Lobster, cursive;
}

.banner .logo {
  text-align: center;
  font-size: 3rem;
  color: var(--light);
  text-decoration: double underline var(--blue);
  -moz-user-select: none;
  -webkit-user-select: none;
}

.logo.show-up {
  animation: banner-show-up 300ms ease-in;
}

.animation.spin {
  animation: spin 500ms linear infinite;
}

.animation.spin2 {
  animation: spin2 5000ms linear infinite;
}

@keyframes banner-show-up {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes spin {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}

@keyframes spin2 {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

main.container {
  width: 100%;
  min-height: calc(100vh - var(--banner-height) * 2);
  margin: auto;
  overflow: hidden;
}

.project-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 1rem 0;
  list-style: none;
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  width: 90%;
  height: 8rem;
  background: var(--light);
  color: var(--dark);
  border: 1px solid var(--dark);
  border-radius: 5px;
  overflow: hidden;
  margin: 0.25rem;
  transition: transform 50ms ease-out;
  box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.3);
}

.project[data-featured=true] {
  box-shadow: 0 3px 3px 1px rgba(221, 207, 11, 0.4);
}

.project:hover {
  transform: scale(1.05) translateY(-5px);
  z-index: 100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
}

.project[data-featured=true]:hover {
  transform: scale(1.1) translateY(-5px);
  z-index: 100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
}

.project-image {
  width: 9.6rem;
  position: absolute;
  left: -3rem;
}

.project-image img {
  width: 100%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

.project-info {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: 100%;
  padding: 0.25rem 0.25rem 0.25rem 6rem;
}

.project-info .featured {
  position: absolute;
  right: 2px;
  top: 2px;
  transform-origin: 50% 60%;
}

.project-category {
  position: absolute;
  padding: 0 0.25rem;
  left: 0;
  bottom: 3px;
  z-index: 69420;
  background: white;
  color: gray;
  border: 2px solid gray;
  border-radius: 0.5rem;
  border-left: none !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  cursor: default;
}

*[data-category="css"] {
  color: rgb(38, 121, 21);
  border: 2px solid rgb(38, 121, 21);
}

*[data-category="game"] {
  color: rgb(70, 117, 204);
  border: 2px solid rgb(70, 117, 204);
}

*[data-category="javascript"] {
  color: rgb(145, 118, 1);
  border: 2px solid rgb(145, 118, 1);
}

*[data-category="app"] {
  color: rgb(145, 1, 68);
  border: 2px solid rgb(145, 1, 68);
}

*[data-category="other"] {
  color: rgb(70, 26, 6);
  border: 2px solid rgb(70, 26, 6);
}

.project-cta-buttons {
  width: 10rem;
  position: absolute;
  bottom: 0.2rem;
  right: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.project-cta-buttons a {
  padding: 0.25rem 0.5rem;
  background: var(--blue);
  color: white;
  border-radius: 0.4rem;
  cursor: pointer;
}

.project-cta-buttons a:hover {
  filter: brightness(110%);
  transform: scale(1.05);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--medium);
  height: var(--banner-height);
  text-align: center;
  font-size: large;
}

@media screen and (min-width: 600px) {

  main.container {
    width: 100%;
  }
  .project {
    width: 16rem;
  }
  .project:hover {
    transform: scale(1.05) translateY(-5px);
    z-index: 100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
  }
}

@media screen and (min-width: 992px) {
  main.container {
    width: 80%;
  }
}

@media screen and (min-width: 1200px) {
  main.container {
    width: 70%;
  }
}

@media screen and (min-width: 1600px) {
  main.container {
    width: 60%;
  }
}