:root {
  --light: #fff;
  --medium: #6b6e88;
  --dark: #424455;
  --red: #cb5252;
  --blue: #4675cc;
  --golden: #d4b506;

  --banner-height: 6rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scrollbar-color: var(--blue) var(--light);
  scrollbar-width: thin;
  -webkit-scrollbar-color: blue;
  -webkit-scrollbar-width: thin;
}

body {
  min-height: 100vh;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  background: linear-gradient(var(--medium), var(--dark));
}

.banner {
  text-align: center;
  font-size: 3rem;
  font-family: Lobster, cursive;
  height: var(--banner-height);
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--dark);
  color: var(--light);
  animation: banner-show-up 1000ms ease-in;
  text-decoration: double underline var(--blue);
}

.banner .logo {
  cursor: cell;
}

.animation.spin {
  animation: spin 500ms linear infinite;
}

@keyframes banner-show-up {
  from {
    font-size: 0.1rem;
  }
  to {
    font-size: 3rem;
  }
}

@keyframes spin {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}

main.container {
  width: 100%;
  min-height: calc(100vh - var(--banner-height));
  margin: auto;
  overflow: hidden;
}

@media screen and (min-width: 576px) {
  main.container {
    width: 90%;
  }
}

@media screen and (min-width: 768px) {
  main.container {
    width: 80%;
  }
}

@media screen and (min-width: 992px) {
  main.container {
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  main.container {
    width: 50%;
  }
}

@media screen and (min-width: 1600px) {
  main.container {
    width: 40%;
  }
}

.project-list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem 0;
  list-style: none;
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  width: 95%;
  height: 3rem;
  background: var(--light);
  color: var(--dark);
  border: 1px solid var(--dark);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 0.25rem;
  transition: transform 50ms ease-out;
  box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.3);
}

.project:last-of-type {
  margin-bottom: 0;
}

.project:hover {
  cursor: pointer;
  transform: scale(1.1) translateY(-5px);
}

.project:active {
  cursor: pointer;
  transform: scale(1.05) translateY(-3px);
}

.project-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5%;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--blue);
  color: var(--light);
  height: 100%;
  width: 40%;
  text-align: center;
  clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%);
}

.project-title.featured::after {
  content: '⭐';
  transform: translate(0.25rem, -0.12rem);
  display: block;
  position: absolute;
  left: 33%;
}

.project-category {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  width: 20%;
}

.project-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  height: 100%;
  padding: 0.25rem;
}

.project-info .see-code {
  font-weight: 600;
  text-decoration: underline double var(--blue);
  text-align: center;
}

.project-info .see-code:hover {
  color: var(--medium);
  text-decoration: underline double cyan;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.1);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--medium);
  height: var(--banner-height);
  text-align: center;
  font-size: large;
}
