.day {
  padding: 1rem;
}

li span {
  color: black;
  font-weight: bold;
}

.JS {
  text-shadow: 1px 1px orange;
}

.CSS,.Node {
  text-shadow: 1px 1px green;
}

.Python {
  text-shadow: 1px 1px goldenrod;
}

.React {
  text-shadow: 1px 1px dodgerblue;
}

@media (min-width: 40rem) {
  .content {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "monday tuesday wednesday" "thursday friday saturday" "sunday sunday sunday";
    grid-gap: 0.5rem;
  }
  .day {
    padding: 0;
  }
  #sunday {
    grid-area: sunday;
  }
}

@media (min-width: 70rem) {
  .content {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "monday tuesday wednesday thursday friday saturday sunday";
    grid-gap: 0.5rem;
  }
  .day {
    padding: 0;
  }
}