* {
  color: #ade1fc;
  color: #68caff;
  color: #0DAAFF;
  color: #007ebe;
  color: #00456A;
  color: #FF3900;
  color: #fc9;
  color: #ccc;
  color: #fff;
  color: #777;
  color: #424242;
  color: #000;
}
