body,html {
  height: 100%;
}

.grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "controls logs";
  width: 100%;
  height: 100%;
}

.controls {
  grid-area: "controls";
  background: cornflowerblue;
}

.logs {
  grid-area: "logs";
  background: cadetblue;
}

